
.roger{
    color:red;
    text-align: center;
    height: 100px;
    background-color: black;
    font-style: italic;
}
 
body{
  background-color: black;

}

.botao{
   text-align: center;
   margin-right: 70px;
}
